# Bootstrap
app/bootstrap*

# Symfony directories
web/bundles/
web/uploads/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin
composer.phar

# Configuration files
app/config/parameters.*

# Mac
.DS_Store
*~