{% extends "Tom32iPortfolioBundle::base.html.twig" %}

{% block head_title %}
    Thomas Jarrand {% block head_sub_title %} | Concepteur Développeur Web{% endblock %}
{% endblock %}

{% block head_meta_description %}
    Thomas Jarrand : Conçois et développe des applications pour le web.
{% endblock %}

{% block head_meta_keywords %}
    thomas jarrand développeur web php back front end
{% endblock %}

{% block body_container%}

    <div class="container" id="main" role="main">

        <header id="page-header">
            <p id="top-title">THOMAS <strong>JARRAND</strong></p>
            <p id="sub-title">CONCEPTEUR DÉVELOPPEUR WEB</p>
        </header>

        <div class="hr">
            <i class="icon-anchor"></i>
        </div>
        
        {% block content %}
        {% endblock content %}
    </div>

    <footer id="page-footer" class="full-width">

        <div class="container">

            <div class="hr">
                <i class="icon-invader"></i>
            </div>

            <h1>Let's talk!</h1>

            <p class="center lead">J'arrive d'Australie, je suis de retour dans le web français : On travaille ensemble ?</p>

            <div class="row">
                <div class="span4 links">
                    <div class="link">
                        <i class="icon-twitter"></i>
                        <a href="https://twitter.com/Tom32i" target="_blank">@Tom32i</a>
                    </div>
                    <div class="link">
                        <i class="icon-github"></i>
                        <a href="https://github.com/Tom32i"  target="_blank">Tom32i on Github</a>
                    </div>
                </div>

                <div class="span4 links">
                    <div class="link">
                        <i class="icon-mail"></i>
                        <p>thomas.jarrand@gmail.com</p>
                    </div>
                    <div class="link">
                        <i class="icon-iphone"></i>
                        <p>06 87 32 02 80</p>
                    </div>
                </div>

                <div class="span4 links">
                    <div class="link">
                        <i class="icon-file"></i>
                        <p>
                            <a href="{{ path('cv') }}" target="_blank">
                                Télécharger mon CV
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div id="copyright" class="">
                <p>Design &amp; développement par Thomas Jarrand.<br/>Tous droits réservés 2012-2013</p>
            </div>
        </div>

    </footer>
{% endblock body_container %}