@media (min-width: 1200px) 
{
	.project .metas{
		min-height: 100px;
	}
}

@media (min-width: 980px) and (max-width: 1199px)
{

}

@media (min-width: 768px) and (max-width: 979px)
{
	.languages .language
	{
		width: (@gridColumnWidth768 * 6) + (@gridGutterWidth768 * (6 - 1));

		&:nth-child(2n+1){
			clear: both;
		}
	}

	.project .metas{
		min-height: 140px;
	}
}

@media (max-width: 767px) 
{
	#top-title
	{
		font-size: 32px;
		line-height: 36px;
	}

	#sub-title
	{
		font-size: 18px;
	}

	.projects .project
	{
		.title{
			text-transform: uppercase;
		}

		img
		{
			min-width: 100%;
		}
	}

	.method
	{
		margin-bottom: 40px;
	}

	

	.method, 
	.method .content,
	.tools,
	.tools p,
	.title,
	.languages .language .content,
	#page-footer,
	#page-footer #copyright p
	{
		text-align: center;
	}

	#page-footer
	{
		padding-left: @gridGutterWidth768;
		padding-right: @gridGutterWidth768;

		.link
		{
			i{
				margin-right: 0;
			}
			a, p{
				display:  block;
			}
		}
	}

	h1 { font-size: @baseFontSize * 2.25; }
	h2 { font-size: @baseFontSize * 1.75; }
	h3 { font-size: @baseFontSize * 1.5; }

	// Sliders

	.full-width
	{
		margin-left: -@gridGutterWidth768;
		margin-right: -@gridGutterWidth768;

		&.scrollable
		{
			overflow: hidden;
			position: relative;

			.slider > div
			{
				margin: 0;
				float: left;
			}

			.control
			{
				display: block;
				position: absolute;
				width: 48px;
				height: 50px;
				padding: 0px;
				font-size: 50px;
				font-weight: 200;
				line-height: 40px;
				text-align: center;
				vertical-align: top;
				cursor: pointer;

				.transition (opacity 500ms);

				&.prev
				{
					left: @gridGutterWidth768;
					padding-right: 2px;
				}

				&.next
				{
					right: @gridGutterWidth768;
					padding-left: 2px;
				}

				&.hide
				{
					.opacity (0);
				}
			}
		}
	}

	.languages 
	{
		.slider
		{
			width: 400%;
		}

		.language
		{
			width: 25%;
		}

		.control
		{
			top: 60px;
			color: @grayLight;

			&:hover
			{
				color: @grayDarker;
			}
		}
	}

	.projects
	{
		.slider
		{
			width: 600%;
		}

		.project
		{
			width: percentage(0.16666666);
			padding-left: @gridGutterWidth768;
			padding-right: @gridGutterWidth768;

			.title
			{
				padding-left: 50px;
				padding-right: 50px;
			}
		}

		.control
		{
			top: 5px;
			color: @grayLighter;

			&:hover
			{
				color: @white;
			}
		}
	}
}