// HR

.hr
{
	text-align: center;
	background-color: @grayLight;
	height: 1px;
	margin: 60px 0;

	i{	
		background-color: @grayLighter;
		height: 40px;
		width: 40px;
		margin: -20px 0 0 0;
	}
}

// HEADER

#page-header
{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

#top-title
{
	font-size: 36px;
	line-height: 40px;
    margin: 0;
}

#sub-title
{
	font-size: 20px;
	font-weight: 200;
    margin: 0;
}

// FOOTER

#page-footer
{
	background-color: @grayDarker;
	margin-top: 40px;

	p, a{
		color: @grayLight;
	}

	.hr > i{
		background-color: @grayDarker;
	}

	.link
	{
		margin-bottom: 20px;

		p, a
		{
			line-height: 40px;
			display: inline;
			vertical-align: middle;
		}

		i
		{
			margin: 0 20px 0 0;
			vertical-align: top;
			.border-radius(20px);

			&.icon-twitter{
				background-color: @blue;
			}
			&.icon-mail{
				background-color: @orange;
			}
			&.icon-iphone{
				background-color: @green;
			}
			&.icon-github{
				background-color: @purple;
			}
		}
	}
}

// TITLES

h1{
	color: @gray;
	text-align: center;
	width: 100%;
	font-weight: 200;
	margin: 40px 0;
}

.title.in-color
{
	color: @grayLighter;
	font-weight: 200;
}

// LANGUAGE

.languages
{	
	margin-top: 40px;

	.language
	{
		.content
		{
			text-align: justify;
		}

		.title
		{
			font-size: 32px;
			line-height: 32px;

			width: 170px;
			height: 32px;
			max-width: 100%;
			margin: 0 auto 20px;

			text-align: center;
			padding: 69px 0px;

			.border-radius(85px);

			&.two-lines
			{
				height: 64px;
				padding: 53px 0px;
			}

			&.blueDark{
				background-color: @blueDark;
			}

			&.greenDark{
				background-color: @greenDark;
			}

			&.purple{
				background-color: @purple;
			}

			&.red{
				background-color: @red;
			}
		}
	}
}

// PROJECT

.project{

	.title
	{
		background-color: @orange;
		padding: 10px 20px;
	}
}

// METHODES

.method{

	.title
	{
		font-weight: 400;
	}
}

// TOOLS

.tools
{
	.tool
	{
		.title
		{
			margin: 20px auto;
			text-align: center;

			img{
				width: 200px;
			}
		}
	}

	.sub-title
	{
		font-weight: 400;
	}

	p{
		text-align: justify;
	}
}
